@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    height: 100vh;
}
body {
    background:rgb(52, 51, 51);
    text-align: center;
    color: white;
}
div {
    display:flex;
    flex-direction: column;
    margin: 150px auto;

}
h1 {
    position: relative;
    margin: 30px auto;
    font-size: 3em;
    display: inline-block;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    font-family:'open sans';
}

h1:hover {
   box-shadow: inset 100px;
   color: white;
}

h1::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 4px;
    /* color: red; */
    background: crimson;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

h1:hover::before {
transform-origin: right;
transform:scaleX(1);
}

h1::after {
    content:"";
    position: absolute;
    width: 40px;
    height: 100%;
    background: crimson;
    transform-origin: right;
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out;
    opacity: 0;
}

h1:hover::after {
    transform-origin: right;
    transform: translateX(-215px) translate(0px);

    opacity: 1;
}